<header class="site-header">
  <button class="toggle_menu">
    <span class="sandwich">
      <span class="sw-topper"></span>
      <span class="sw-bottom"></span>
      <span class="sw-footer"></span>
    </span>
  </button>
  <nav class="top_menu">
    <ul>
      <li class="main-items"><a href="{{site.baseurl}}/">Home</a></li>
      <li class="main-items"><a href="#">Videos</a></li>
      <li class="main-items"><a href="#">Gallery</a></li>
      <li class="main-items"><a href="#">About</a></li>
      <li class="main-items"><a href="#">Contact</a></li>
    </ul>
  </nav>
  <div class="header-content">
    <div class="logo">
      <a href="{{site.baseurl}}/" class="logo-link">
      Charlie
      <svg class="hat" xmlns="http://www.w3.org/2000/svg" version="1.0" width="135.000000pt" height="225.000000pt" viewBox="0 0 135.000000 225.000000" preserveAspectRatio="xMidYMid meet" style="
          height: 3rem;
      ">
      <g transform="translate(0.000000,225.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
      <path d="M243 2089 c-79 -39 -144 -150 -169 -287 -20 -115 -19 -132 10 -132 21 0 25 7 35 58 14 69 38 111 86 147 42 33 118 44 165 25 79 -33 147 -157 195 -357 l27 -112 -277 -598 c-153 -329 -286 -615 -296 -635 l-19 -38 132 0 133 1 169 387 c94 213 185 421 204 462 l35 75 72 -325 c109 -484 138 -551 268 -605 45 -19 127 -19 170 -1 89 37 152 159 164 319 l6 77 -25 0 c-22 0 -26 -6 -37 -54 -23 -103 -77 -157 -158 -158 -85 0 -142 41 -193 142 -42 83 -61 153 -154 566 -147 653 -178 774 -226 881 -32 70 -95 144 -144 167 -48 22 -122 20 -173 -5z"></path>
      </g>
      </svg>
      Raffellini</a>
    </div>
  </div>
    <form class="form-container" role="search" method="get" action="{{site.baseurl}}/search/" style="position: fixed; right: 0;">
    <input class="search-field" id="searchString" name="searchString" placeholder="Type search text here..." type="text">
    <div class="submit-container">
      <input class="submit" id="searchButton" name="googleSearchName" type="submit" value>
    </div>
</header>

<!--
  <div class="grid" id="searchBar">
    <div id="search">
      <form role="search" method="get" action="{{site.baseurl}}/search/">
        <input id="searchString" name="searchString" placeholder="Be a Better Developer, etc." type="text">
        <input id="searchButton" name="googleSearchName" type="submit" value="Search">
      </form>
    </div>
  </div>
  -->